* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: rubik, sans-serif;
}

main {
  width: 95%;
  margin: 0 auto;
}

.playlist {
  display: flex;
  margin: 4px 0;
  background-color: rgba(174, 174, 174, 0.5);
}

.playlist:nth-child(odd) {
  background-color: rgba(234, 234, 234, 0.5);
}

#filters {
  border: 1px solid rgba(234, 234, 234, 0.5);
}
